html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  display: inline-block !important; }

* {
  box-sizing: border-box; }

html {
  font-size: 75%; }

.clearfix:after {
  clear: both;
  content: "";
  display: block; }

/* END MEYER RESSET */
/* --------------------------
COLOR STYLES
-------------------------- */
/* --------------------------
FONT STYLES
-------------------------- */
/* --------------------------
UNIVERSAL STYLES
-------------------------- */
#full-wrapper {
  height: 100%;
  position: absolute;
  width: 100%; }
  #full-wrapper #container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto; }
    #full-wrapper #container .horiz-divider-bar {
      margin: 25px auto;
      width: 156px;
      height: 5px;
      border-radius: 15px; }
      #full-wrapper #container .horiz-divider-bar--light {
        background-color: #ffffff; }
      #full-wrapper #container .horiz-divider-bar--dark {
        background-color: #2e2f31; }
    #full-wrapper #container .skewPadding {
      padding-top: 175px; }
    #full-wrapper #container button {
      background: rgba(255, 255, 255, 0.85);
      border-radius: 7px;
      border: none;
      color: #2e2f31;
      font-family: "bryant", Arial, sans-serif;
      font-size: 1.25rem;
      height: 50px;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
      width: 220px; }

/* --------------------------
HEADER STYLES
-------------------------- */
.header {
  background: url("../images/hero_bg.jpg") no-repeat top, #2e2f31;
  height: 100vh;
  position: relative;
  width: 100%; }
  .header::after {
    background: #2e2f31;
    content: '';
    height: 200px;
    position: absolute;
    top: 80vh;
    transform-origin: top right;
    transform: skewY(-6deg);
    width: 100%;
    z-index: -1; }
  .header .fa-bars {
    color: #ffffff;
    left: 82px;
    position: absolute;
    top: 44px;
    font-size: 4.25rem; }
  .header .arrows {
    width: 40px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -20px; }
  .header button {
    position: absolute;
    right: 82px;
    top: 44px; }
  .header h1 {
    color: white;
    font-family: "bryant", Arial, sans-serif;
    font-size: 5rem;
    letter-spacing: 4px;
    padding-top: 267px;
    text-align: center;
    text-transform: uppercase; }
  .header p {
    color: #ffffff;
    font-family: "acrom", Arial, sans-serif;
    font-size: 1.833rem;
    line-height: 2.167rem;
    margin: 0 auto;
    text-align: center;
    width: 50%; }
  .header .social-icons {
    margin: 85px auto 0;
    overflow: hidden;
    width: 272px; }
    .header .social-icons .fa-dribbble,
    .header .social-icons .fa-instagram,
    .header .social-icons .fa-envelope-o {
      color: #ffffff;
      display: inline;
      float: left;
      font-size: 4.25rem; }
  .header .vert-divider-bar {
    background: #ffffff;
    float: left;
    height: 55px;
    margin: 0 35px;
    opacity: 0.2;
    width: 1px; }

/* --------------------------
LATEST WORK STYLES
-------------------------- */
.latest-work-header {
  background: #e8e8e8;
  height: 200px;
  position: relative;
  width: 100%;
  z-index: -100; }
  .latest-work-header:before {
    background: inherit;
    content: '';
    height: 10px;
    margin-top: -15px;
    position: absolute;
    transform-origin: top left;
    transform: skewY(-6deg);
    width: 100%; }
  .latest-work-header:after {
    background: inherit;
    bottom: 0;
    content: '';
    height: 150px;
    position: absolute;
    transform-origin: top right;
    transform: skewY(-6deg);
    width: 100%;
    z-index: -200; }
  .latest-work-header h2 {
    color: #2e2f31;
    display: block;
    font-family: "bryant", Arial, sans-serif;
    font-size: 3.0rem;
    letter-spacing: 3px;
    padding-top: 165px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 100; }

.latest-work-body {
  background: #b74336;
  height: 700px;
  margin-top: -54px;
  position: relative;
  width: 100%;
  z-index: -10000; }
  .latest-work-body--panel {
    background: red;
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
    z-index: -9999; }
    .latest-work-body--panel:first-child {
      background: blue !important; }

/* --------------------------
ABOUT ME STYLES
-------------------------- */
.about-me {
  background: #61393c;
  clear: both;
  height: 100%;
  width: 100%; }
  .about-me h2 {
    color: #ffffff;
    display: block;
    font-family: "bryant", Arial, sans-serif;
    font-size: 3.0rem;
    letter-spacing: 3px;
    padding-top: 50px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 100; }

/* --------------------------
FONT STYLES
-------------------------- */
@font-face {
  font-family: 'bryant';
  src: url("../fonts/bryant-bold-webfont.ttf") format("truetype"), url("../fonts/bryant-bold-webfont.woff2") format("woff2"), url("../fonts/bryant-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'acrom';
  src: url("../fonts/acrom-medium-webfont") format("opentype"), url("../fonts/acrom-medium-webfont.woff2") format("woff2"), url("../fonts/acrom-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=stylesheet.css.map */
