html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  display: inline-block !important; }

* {
  box-sizing: border-box; }

html {
  font-size: 75%; }

.clearfix:after {
  clear: both;
  content: "";
  display: block; }

/* END MEYER RESSET */
/* --------------------------
COLOR STYLES
-------------------------- */
/* --------------------------
FONT STYLES
-------------------------- */
/* --------------------------
UNIVERSAL STYLES
-------------------------- */
#full-wrapper {
  height: 100%;
  position: absolute;
  width: 100%; }
  #full-wrapper #container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto; }
    #full-wrapper #container .horiz-divider-bar {
      margin: 25px auto;
      width: 156px;
      height: 5px;
      border-radius: 15px;
      position: relative;
      z-index: 1000; }
      #full-wrapper #container .horiz-divider-bar--light {
        background-color: #ffffff; }
      #full-wrapper #container .horiz-divider-bar--dark {
        background-color: #2e2f31; }
    #full-wrapper #container .skewPadding {
      padding-top: 175px; }
    #full-wrapper #container button {
      background: rgba(255, 255, 255, 0.85);
      border-radius: 7px;
      border: none;
      color: #2e2f31;
      font-family: "bryant", Arial, sans-serif;
      font-size: 1.25rem;
      height: 50px;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
      width: 220px; }

/* --------------------------
HEADER STYLES
-------------------------- */
.header {
  background: url("../images/hero_bg.jpg") no-repeat top, #2e2f31;
  height: 100vh;
  position: relative;
  width: 100%; }
  .header::after {
    background: #2e2f31;
    content: '';
    height: 200px;
    position: absolute;
    top: 80vh;
    transform-origin: top right;
    transform: skewY(-6deg);
    width: 100%;
    z-index: -1; }
  .header .fa-bars {
    color: #ffffff;
    left: 82px;
    position: absolute;
    top: 44px;
    font-size: 4.25rem; }
  .header .arrows {
    width: 40px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -20px; }
  .header button {
    position: absolute;
    right: 82px;
    top: 44px; }
  .header h1 {
    color: white;
    font-family: "bryant", Arial, sans-serif;
    font-size: 5rem;
    letter-spacing: 4px;
    padding-top: 267px;
    text-align: center;
    text-transform: uppercase; }
  .header p {
    color: #ffffff;
    font-family: "acrom", Arial, sans-serif;
    font-size: 1.833rem;
    line-height: 2.167rem;
    margin: 0 auto;
    text-align: center;
    width: 50%; }
  .header .social-icons {
    margin: 85px auto 0;
    overflow: hidden;
    width: 272px; }
    .header .social-icons .fa-dribbble,
    .header .social-icons .fa-instagram,
    .header .social-icons .fa-envelope-o {
      color: #ffffff;
      display: inline;
      float: left;
      font-size: 4.25rem; }
  .header .vert-divider-bar {
    background: #ffffff;
    float: left;
    height: 55px;
    margin: 0 35px;
    opacity: 0.2;
    width: 1px; }

/* --------------------------
LATEST WORK STYLES
-------------------------- */
#latest-work {
  height: 930px;
  position: relative; }
  #latest-work .latest-work-header {
    background: #e8e8e8;
    height: 200px;
    position: relative;
    width: 100%;
    z-index: -100; }
    #latest-work .latest-work-header:before {
      background: inherit;
      content: '';
      height: 10px;
      margin-top: -15px;
      position: absolute;
      transform-origin: top left;
      transform: skewY(-6deg);
      width: 100%; }
    #latest-work .latest-work-header:after {
      background: inherit;
      bottom: 0;
      content: '';
      height: 200px;
      position: absolute;
      transform-origin: top right;
      transform: skewY(-6deg);
      width: 100%;
      z-index: -200; }
    #latest-work .latest-work-header h2 {
      color: #2e2f31;
      display: block;
      font-family: "bryant", Arial, sans-serif;
      font-size: 3.0rem;
      letter-spacing: 3px;
      padding-top: 165px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      z-index: 100; }
  #latest-work .latest-work-body {
    background: #b74336;
    height: 700px;
    margin-top: -54px;
    position: relative;
    width: 100%;
    z-index: -10000; }
    #latest-work .latest-work-body--panel {
      float: left;
      height: 100%;
      position: relative;
      width: 50%;
      z-index: -9999; }
    #latest-work .latest-work-body .panel-image #image-slider {
      overflow: hidden;
      width: 100%; }
      #latest-work .latest-work-body .panel-image #image-slider .image-slides {
        display: block;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 3600px; }
      #latest-work .latest-work-body .panel-image #image-slider .image-slide {
        float: left;
        height: 720px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 720px; }
    #latest-work .latest-work-body .panel-text {
      background: #ffffff; }
      #latest-work .latest-work-body .panel-text #text-slider {
        height: 100%;
        overflow: hidden;
        width: 100%; }
        #latest-work .latest-work-body .panel-text #text-slider .text-slides {
          display: block;
          height: 3600px;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 0;
          width: 100%; }
        #latest-work .latest-work-body .panel-text #text-slider .text-slide {
          height: 720px;
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 720px; }
      #latest-work .latest-work-body .panel-text .title-num {
        margin-right: 10px;
        font-size: 2.5rem; }
      #latest-work .latest-work-body .panel-text h3 {
        color: #2e2f31;
        font-family: "bryant", Arial, sans-serif;
        font-size: 2rem;
        letter-spacing: 3px;
        margin: 0 auto 60px auto;
        padding-top: 275px;
        text-align: center;
        text-transform: uppercase;
        width: 80%; }
      #latest-work .latest-work-body .panel-text p {
        width: 55%;
        margin: 0 auto;
        text-align: center;
        font-family: "acrom", Arial, sans-serif;
        font-size: 1.675rem;
        color: #2e2f31;
        line-height: 2rem; }
      #latest-work .latest-work-body .panel-text .web-link {
        color: #2e2f31;
        display: block;
        font-family: "bryant", Arial, sans-serif;
        font-size: 1.65rem;
        letter-spacing: 3px;
        margin: 75px auto 0 auto;
        text-align: center;
        text-transform: uppercase;
        width: 25%; }
  #latest-work #slider-buttons {
    background: red;
    width: 500px;
    height: 250px;
    z-index: 10000000;
    position: relative;
    top: 500px;
    left: 500px; }

/* --------------------------
ABOUT ME STYLES
-------------------------- */
.about-me {
  background: #61393c;
  clear: both;
  height: 750px;
  width: 100%;
  z-index: 100; }
  .about-me:before {
    background: inherit;
    content: '';
    height: 150px;
    position: absolute;
    transform-origin: top left;
    transform: skewY(-6deg);
    width: 100%;
    z-index: -1; }
  .about-me .about-me--panel {
    float: left; }
  .about-me .panel-left {
    margin: 0 auto;
    width: 50%; }
    .about-me .panel-left img {
      display: block;
      margin: 0 auto;
      width: 350px; }
  .about-me .panel-right {
    color: #ffffff;
    font-family: "acrom", Arial, sans-serif;
    font-size: 1.757rem;
    padding-top: 40px;
    text-align: center;
    width: 30%; }
    .about-me .panel-right p {
      padding-bottom: 45px; }
      .about-me .panel-right p span {
        color: #b74336; }
    .about-me .panel-right button {
      margin-top: 45px; }
  .about-me h2 {
    color: #ffffff;
    display: block;
    font-family: "bryant", Arial, sans-serif;
    font-size: 3.0rem;
    letter-spacing: 3px;
    padding-top: 25px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 100; }
  .about-me img {
    width: 40%; }

/* --------------------------
CONTACT ME STYLES
-------------------------- */
.contact {
  background: #2e2f31;
  height: 750px;
  width: 100%; }
  .contact:before {
    background: inherit;
    content: '';
    height: 150px;
    position: absolute;
    transform-origin: top left;
    transform: skewY(-6deg);
    width: 100%;
    z-index: 0; }
  .contact h2 {
    color: #ffffff;
    font-family: 'bryant', Arial, sans-serif;
    font-size: 3.0rem;
    letter-spacing: 3px;
    padding-top: 25px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 10; }
  .contact .contact-form {
    width: 52%;
    margin: 75px auto 0 auto; }
    .contact .contact-form--left, .contact .contact-form--right {
      float: left;
      margin-bottom: 45px;
      width: 45%; }
    .contact .contact-form--left {
      margin-right: 5%; }
    .contact .contact-form input[type="text"], .contact .contact-form textarea {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      border: none;
      color: #ffffff;
      font-family: "acrom", Arial, sans-serif;
      font-size: 1.175rem;
      letter-spacing: 2px;
      margin-bottom: 20px;
      padding: 10px;
      resize: none;
      width: 100%; }
      .contact .contact-form input[type="text"]::placeholder, .contact .contact-form textarea::placeholder {
        color: #ffffff;
        text-transform: uppercase; }
    .contact .contact-form input[type="textarea"] {
      height: 350px; }
    .contact .contact-form input[type="radio"]:not(old) {
      margin: 0;
      opacity: 0;
      padding: 0;
      width: 2rem; }
      .contact .contact-form input[type="radio"]:not(old) + label {
        color: #ffffff;
        display: inline-block;
        font-family: 'bryant', Arial, sans-serif;
        font-size: 1.15rem;
        letter-spacing: 4px;
        line-height: 3.25rem;
        margin-left: -2rem;
        text-transform: uppercase; }
        .contact .contact-form input[type="radio"]:not(old) + label > span {
          border-radius: 50%;
          border: 1px solid #e8e8e8;
          display: inline-block;
          height: 2rem;
          margin: .25rem 1rem 1rem 0;
          vertical-align: middle;
          width: 2rem; }
      .contact .contact-form input[type="radio"]:not(old):checked + label > span > span {
        display: block;
        width: .75rem;
        height: .75rem;
        margin: .525rem 0 0 .525rem;
        border: 1px solid #b74336;
        border-radius: 50%;
        background: #b74336; }
    .contact .contact-form h3 {
      color: #ffffff;
      font-family: 'bryant', Arial, sans-serif;
      font-size: 1.5rem;
      letter-spacing: 2px;
      margin-top: 15px;
      margin-bottom: 25px;
      text-transform: uppercase; }
    .contact .contact-form input[type="submit"] {
      background: rgba(255, 255, 255, 0.85);
      border-radius: 7px;
      border: none;
      color: #2e2f31;
      display: block;
      font-family: "bryant", Arial, sans-serif;
      font-size: 1.25rem;
      height: 50px;
      letter-spacing: 2px;
      margin: 0 auto;
      text-decoration: none;
      text-transform: uppercase;
      width: 220px; }

/* --------------------------
FOOTER STYLES
-------------------------- */
.footer {
  background: #e8e8e8;
  height: 150px;
  width: 100%;
  position: relative; }
  .footer:before {
    width: 100%;
    background: inherit;
    height: 150px;
    content: '';
    position: absolute;
    transform-origin: top left;
    transform: skewY(-6deg);
    z-index: 1; }
  .footer p {
    padding-top: 120px;
    text-align: center;
    font-family: "bryant", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(46, 47, 49, 0.6); }
  .footer .footer-nav {
    text-align: right;
    position: absolute;
    bottom: 35px;
    right: 15px;
    line-height: 5rem;
    z-index: 10000; }
    .footer .footer-nav a {
      font-family: "bryant", Arial, sans-serif;
      font-size: 1.175rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-decoration: none;
      color: #2e2f31; }

/* --------------------------
FONT STYLES
-------------------------- */
@font-face {
  font-family: 'bryant';
  src: url("../fonts/bryant-bold-webfont.ttf") format("truetype"), url("../fonts/bryant-bold-webfont.woff2") format("woff2"), url("../fonts/bryant-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'acrom';
  src: url("../fonts/acrom-medium-webfont") format("opentype"), url("../fonts/acrom-medium-webfont.woff2") format("woff2"), url("../fonts/acrom-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=stylesheet.css.map */
