html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	display: inline-block !important;
}

* { box-sizing: border-box; }
html { font-size: 75%; }
.clearfix:after {
	clear: both;
	content: "";
	display: block;
}
/* END MEYER RESSET */

/* --------------------------
COLOR STYLES
-------------------------- */
$white: #ffffff;
$light: #e8e8e8;
$dark: #2e2f31;
$lightAccent: #b74336;
$darkAccent: #61393c;

/* --------------------------
FONT STYLES
-------------------------- */
$bryant: 'bryant';
$acrom: 'acrom';


/* --------------------------
UNIVERSAL STYLES
-------------------------- */
#full-wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  #container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
		.horiz-divider-bar {
			margin: 25px auto;
			width: 156px;
			height: 5px;
			border-radius: 15px;
			&--light { background-color: $white; }
			&--dark { background-color: $dark; }
		}
		.skewPadding {
			padding-top: 175px;
		}
		button {
			background: rgba($white, 0.85);
			border-radius: 7px;
			border: none;
			color: $dark;
			font-family: $bryant, Arial, sans-serif;
			font-size: 1.25rem;
			height: 50px;
			letter-spacing: 2px;
			text-decoration: none;
			text-transform: uppercase;
			width: 220px;
		}
  }
}



/* --------------------------
HEADER STYLES
-------------------------- */
.header {
	background: url('../images/hero_bg.jpg') no-repeat top, $dark;
	height: 100vh;
	position: relative;
	width: 100%;
	&::after {
		background: $dark;
		content: '';
		height: 200px;
		position: absolute;
		top: 80vh;
		transform-origin: top right;
		transform: skewY(-6deg);
		width: 100%;
		z-index: -1;
	}
	.fa-bars {
		color: $white;
		left: 82px;
		position: absolute;
		top: 44px;
		font-size: 4.25rem;
	}
	.arrows {
		width: 40px;
		position: absolute;
		bottom: 70px;
		left: 50%;
		margin-left: -20px;
	}
	button {
		position: absolute;
		right: 82px;
		top: 44px;
	}
	h1 {
		color: white;
		font-family: $bryant, Arial, sans-serif;
		font-size: 5rem;
		letter-spacing: 4px;
		padding-top: 267px;
		text-align: center;
		text-transform: uppercase;
	}
	p {
		color: $white;
		font-family: $acrom, Arial, sans-serif;
		font-size: 1.833rem;
		line-height: 2.167rem;
		margin: 0 auto;
		text-align: center;
		width: 50%;
	}
	.social-icons {
		margin: 85px auto 0;
		overflow: hidden;
		width: 272px;
		.fa-dribbble,
		.fa-instagram,
		.fa-envelope-o {
			color: $white;
			display: inline;
			float: left;
			font-size: 4.25rem;
		}
	}
	.vert-divider-bar {
		background: $white;
		float: left;
		height: 55px;
		margin: 0 35px;
		opacity: 0.2;
		width: 1px;
	}
}

/* --------------------------
LATEST WORK STYLES
-------------------------- */
.latest-work-header {
	background: $light;
	height: 200px;
	position: relative;
	width: 100%;
	z-index: -100;
	&:before {
		background: inherit;
		content: '';
		height: 10px;
		margin-top: -15px;
		position: absolute;
		transform-origin: top left;
		transform: skewY(-6deg);
		width: 100%;
	}
	&:after {
		background: inherit;
		bottom: 0;
		content: '';
		height: 150px;
		position: absolute;
		transform-origin: top right;
		transform: skewY(-6deg);
		width: 100%;
		z-index: -200;
	}
	h2 {
		color: $dark;
		display: block;
		font-family: $bryant, Arial, sans-serif;
		font-size: 3.0rem;
		letter-spacing: 3px;
		padding-top: 165px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		z-index: 100;
	}
}

.latest-work-body {
	background: $lightAccent;
	height: 700px;
	margin-top: -54px;
	position: relative;
	width: 100%;
	z-index: -10000;
	&--panel {
		background: url('../images/bcs_fulldisplay.jpg') top no-repeat;
		background-size: cover;
		float: left;
		height: 100%;
		position: relative;
		width: 50%;
		z-index: -9999;
		&:first-child {
			background: $white;
			.title-num {
				margin-right: 10px;
				font-size: 2.5rem;
			}
			h3 {
				color: $dark;
				font-family: "bryant", Arial, sans-serif;
				font-size: 2rem;
				letter-spacing: 3px;
				margin: 0 auto 60px auto;
				padding-top: 225px;
				text-align: center;
				text-transform: uppercase;
				width: 80%;
			}
			p {
				width: 55%;
				margin: 0 auto;
				text-align: center;
				font-family: "acrom", Arial, sans-serif;
				font-size: 1.675rem;
				color: $dark;
				line-height: 2rem;
			}
			.web-link {
				color: $dark;
				display: block;
				font-family: "bryant", Arial, sans-serif;
				font-size: 1.65rem;
				letter-spacing: 3px;
				margin: 75px auto 0 auto;
				text-align: center;
				text-transform: uppercase;
				width: 25%;
			}
		}
	}
}

/* --------------------------
ABOUT ME STYLES
-------------------------- */
.about-me {
	background: $darkAccent;
	clear: both;
	height: 750px;
	width: 100%;
	z-index: 100;
	&:before {
		background: inherit;
		content: '';
		height: 150px;
		position: absolute;
		transform-origin: top left;
		transform: skewY(-6deg);
		width: 100%;
		z-index: -1;
	}
	.about-me--panel {
		float: left;
	}
	.panel-left {
		margin: 0 auto;
		width: 50%;
		img {
			display: block;
			margin: 0 auto;
			width: 350px;
		}
	}
	.panel-right {
		color: $white;
		font-family: $acrom, Arial, sans-serif;
		font-size: 1.757rem;
		padding-top: 40px;
		text-align: center;
		width: 30%;
		p {
			padding-bottom: 45px;
			span {
				color: $lightAccent
			}
		}
		button {
			margin-top: 45px;
		}
	}
	h2 {
		color: $white;
		display: block;
		font-family: $bryant, Arial, sans-serif;
		font-size: 3.0rem;
		letter-spacing: 3px;
		padding-top: 25px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		z-index: 100;
	}
	img {
		width: 40%;
	}
}

/* --------------------------
CONTACT ME STYLES
-------------------------- */
.contact {
	background: $dark;
	height: 750px;
	width: 100%;
	&:before {
		background: inherit;
		content: '';
		height: 150px;
		position: absolute;
		transform-origin: top left;
		transform: skewY(-6deg);
		width: 100%;
		z-index: 0;
	}
	h2 {
		color: $white;
		font-family: 'bryant', Arial, sans-serif;
		font-size: 3.0rem;
		letter-spacing: 3px;
		padding-top: 25px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		z-index: 10;
	}
	.contact-form {
		width: 52%;
		margin: 0 auto;
		&--left,
		&--right {
			float: left;
			margin-bottom: 45px;
			width: 45%;
		}
		&--left {
			margin-right: 5%;
		}
		input[type="text"], textarea {
			background: rgba($white, 0.1);
			border-radius: 4px;
			border: none;
			color: $white;
			font-family: "acrom", Arial, sans-serif;
			font-size: 1.175rem;
			letter-spacing: 2px;
			margin-bottom: 20px;
			padding: 10px;
			resize: none;
			width: 100%;
			&::placeholder {
				color: $white;
				text-transform: uppercase;
			}
		}
		input[type="textarea"] {
			height: 350px;
		}
		input[type="radio"]:not(old) {
			margin: 0;
			opacity: 0;
			padding: 0;
			width: 2rem;
			& + label {
				color: $white;
				display: inline-block;
				font-family: 'bryant', Arial, sans-serif;
				font-size: 1.15rem;
				letter-spacing: 4px;
				line-height: 3.25rem;
				margin-left: -2rem;
				text-transform: uppercase;
				& > span {
					border-radius: 50%;
					border: 1px solid $light;
					display: inline-block;
					height: 2rem;
					margin: .25rem 1rem 1rem 0;
					vertical-align: middle;
					width: 2rem;
				}
			}
			&:checked + label > span > span {
				display: block;
				width: .75rem;
				height: .75rem;
				margin: .525rem 0 0 .525rem;
				border: 1px solid $lightAccent;
				border-radius: 50%;
				background: $lightAccent;
			}
		}
		h3 {
			color: $white;
			font-family: 'bryant', Arial, sans-serif;
			font-size: 1.5rem;
			letter-spacing: 2px;
			margin-top: 15px;
			margin-bottom: 25px;
			text-transform: uppercase;
		}
		input[type="submit"] {
			background: rgba($white,0.85);
			border-radius: 7px;
			border: none;
			color: $dark;
			display: block;
			font-family: $bryant, Arial, sans-serif;
			font-size: 1.25rem;
			height: 50px;
			letter-spacing: 2px;
			margin:0 auto;
			text-decoration: none;
			text-transform: uppercase;
			width: 220px;
		}
	}
}


/* --------------------------
FOOTER STYLES
-------------------------- */
.footer {
	background: $light;
	height: 150px;
	width: 100%;
	position: relative;
	&:before {
		width: 100%;
		background: inherit;
		height: 150px;
		content: '';
		position: absolute;
		transform-origin: top left;
		transform: skewY(-6deg);
		z-index: 1;
	}
	p {
		padding-top: 120px;
		text-align: center;
		font-family: "bryant", Arial, sans-serif;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: rgba($dark, 0.6);
	}
	.footer-nav {
		text-align: right;
		position: absolute;
		bottom: 35px;
		right: 15px;
		line-height: 5rem;
		z-index: 10000;
		a {
			font-family: "bryant", Arial, sans-serif;
			font-size: 1.175rem;
			text-transform: uppercase;
			letter-spacing: 3px;
			text-decoration: none;
			color: $dark
		}
	}
}

/* --------------------------
FONT STYLES
-------------------------- */
@font-face {
    font-family: 'bryant';
    src:  url('../fonts/bryant-bold-webfont.ttf') format('truetype'),
          url('../fonts/bryant-bold-webfont.woff2') format('woff2'),
          url('../fonts/bryant-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'acrom';
    src:  url('../fonts/acrom-medium-webfont') format('opentype'),
          url('../fonts/acrom-medium-webfont.woff2') format('woff2'),
          url('../fonts/acrom-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
